:root {
  --selection-color: #fafafa;
  --selection-bg-color: #00bcd4;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Cairo', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer__container {
  margin-top: auto;
}

::-moz-selection {
  color: var(--selection-color);
  background: var(--selection-bg-color);
}

::selection {
  color: var(--selection-color);
  background: var(--selection-bg-color);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #276678;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1b4a57;
}

select,
button {
  border: none;
  cursor: pointer;
  background: transparent;
}

ul,
li,
ol {
  list-style: none;
  text-decoration: none;
}

input,
input::after,
input::before,
textarea,
textarea::after,
textarea::before,
textarea,
select {
  outline: none;
  border: none;
}

a,
a::after,
a::before,
a:hover,
a:focus {
  text-decoration: none;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 2.125rem 3.125rem;
  justify-content: center;
  align-items: center;
  height: auto;
  background: transparent;
}

.sub__container {
  padding-left: 50px;
  padding-right: 50px;
}

.bg__container {
  background: #f3f5f8 !important;
}

@media screen and (max-width: 700px) {
  .sub__container {
    padding-left: 0;
    padding-right: 0;
  }
  .container {
    padding: 2.125rem 1.5625rem;
    justify-content: center;
    align-items: center;
    height: auto;
    background: transparent;
  }
}

@media screen and (min-width: 1600px) {
  .sub__container {
    max-width: 1600px;
    margin: 0 auto;
  }
}

/* not Found Style */
.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f3f5f8;
}

.not-found-dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.not-found-gym-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f5f8;
  height: 50vh;
}

.not-found-section {
  min-width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #1687a7;
}

.not-found-title {
  width: 100%;
  display: block;
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 5em;
}

#box2 {
  color: #333;
  text-align: center;
}

.notFound {
  fill: #27a4c7;
  stroke: #187088;
  stroke-width: 1.5;
  animation: lupa 5s infinite;
}

@keyframes lupa {
  from {
    fill: #2fbce4;
    stroke: #156f88;
    stroke-dasharray: 0;
  }
  to {
    fill: #156f88;
    stroke: #2fbce4;
    stroke-dasharray: 95;
  }
}
.notFound rect {
  stroke: none;
}

.not-found-subTitle {
  width: 100%;
  display: block;
  text-align: center;
  font-weight: bolder;
  font-size: 1.5em;
}
.not-found-back {
  padding: 0.5rem 1.25rem;
  background: #156f88;
  color: #fff;
  border-radius: 0.25rem;
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  .not-found-container,
  .not-found-dashboard-container {
    flex-direction: column;
  }

  .not-found-gym-container {
    height: 60vh;
    flex-direction: column;
  }
}
