:root {
  --selection-color: #fafafa;
  --selection-bg-color: #00bcd4;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Cairo', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

::-moz-selection {
  color: var(--selection-color);
  background: var(--selection-bg-color);
}

::selection {
  color: var(--selection-color);
  background: var(--selection-bg-color);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #276678;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1b4a57;
}

select,
button {
  border: none;
  cursor: pointer;
  background: transparent;
}

ul,
li,
ol {
  list-style: none;
  text-decoration: none;
}

input,
input::after,
input::before,
textarea,
textarea::after,
textarea::before,
textarea,
select {
  outline: none;
  border: none;
}

a,
a::after,
a::before,
a:hover,
a:focus {
  text-decoration: none;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 2.125rem 3.125rem;
  justify-content: center;
  align-items: center;
  height: auto;
  background: transparent;
}

.sub__container {
  padding-left: 50px;
  padding-right: 50px;
}

.bg__container {
  background: #f3f5f8 !important;
}

@media screen and (max-width: 700px) {
  .sub__container {
    padding-left: 0;
    padding-right: 0;
  }
  .container {
    padding: 2.125rem 1.5625rem;
    justify-content: center;
    align-items: center;
    height: auto;
    background: transparent;
  }
}

@media screen and (min-width: 1600px) {
  .sub__container {
    max-width: 1600px;
    margin: 0 auto;
  }
}
