:root {
  --selection-color: #fafafa;
  --selection-bg-color: #00bcd4;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Cairo', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

::-moz-selection {
  color: var(--selection-color);
  background: var(--selection-bg-color);
}

::selection {
  color: var(--selection-color);
  background: var(--selection-bg-color);
}

select,
button {
  border: none;
  cursor: pointer;
  background: transparent;
}

ul,
li,
ol {
  list-style: none;
  text-decoration: none;
}

a,
a::after,
a::before,
a:hover,
a:focus {
  text-decoration: none;
}

.container {
  margin: 2rem 0;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
  align-items: center;
  height: auto;
  background: transparent;
}

.sub__container {
  padding-left: 50px;
  padding-right: 50px;
}

.bg__container {
  background: #f3f5f8;
}

@media screen and (max-width: 700px) {
  .sub__container {
    padding-left: 0;
    padding-right: 0;
  }
}
