.nav-link-active-main > * {
  background: #f3f3f3;
  color: black;
}

.nav-link-active ~ .nav-link-active > * {
  background: #f3f3f3;
  color: black;
}

.muirtl-h4y409-MuiList-root {
  padding: 0 !important;
}
