.nav-bar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.display-raw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo {
  font-size: 1.5625rem;
  font-weight: 700;
  color: #2e7b91;
  text-decoration: none;
  margin: 0 0.8rem;
  transition: all 0.3s ease-in-out;
}

.brand-logo:hover {
  color: #205665;
}

.nav-list {
  display: flex;
  gap: 1.2rem;
}

a.nav-item {
  position: relative;
  transition: all 0.3s ease-in-out;
}

a.nav-item::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  border-radius: 8px;
  background: #28768c;
  transition: all 0.3s ease-in-out;
  left: 0;
  bottom: -10px;
}

a.nav-item:hover::after {
  width: 100%;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.search-input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background: #ffffff;
  border: 2px solid #ededed;
  transition: all 0.3s ease-in-out;
  font-size: 1.1rem;
}

.list-search {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  border: 2px solid #ededed;
}

.link-auth:not(:last-child) {
  padding: 5px;
  border-radius: 8px;
  background: #28768c;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  color: #fff;
  margin: 0 0.5rem;
}

.show-mobile {
  display: none;
  padding: 0.8rem 0;
}

.left-nav-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-nav-mobile .search-container {
  width: 250px;
}

@media (max-width: 1050px) {
  .hide-mobile {
    display: none;
  }
  .show-mobile {
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .left-nav-mobile .search-container {
    width: 100%;
  }
  .brand-logo {
    width: 70%;
  }
}
