@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@650&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400&display=swap');

.container-full-width {
    background: #F3F5F8; 
    position: relative;
    
  }
  .footer-container {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 30px;
  }
  
  .name__title{
    color: #276678;
    font-weight: bold;
    font-size: 30px;
    font-family: 'cairo';
  }


  .name-container p {
    margin-top: 20px;

    text-align: right;
    color: #5C6077;
    font-weight: 400;
    font-size: 17px;
    font-family: 'cairo';
    width: 380px;
    height: 100px;

  }
  
  .contact-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    
  }
  
  .contact-container .contact-title {
    color: #276678;
    text-align: right;
    font-weight: bold;
    font-family: 'cairo';

  }
  
  
 
  
  .contact-icons :hover {
    color: #276678;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    font-family: 'cairo';

    justify-content: space-evenly;
  }
  .copy-right-container {
    width: 100%;
    background-color: white;
    display: flex;
  }
  .copy-right {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    width: 80%;
    font-family: 'cairo';
    align-items: center;
    text-align: center;

    background-color: white;
    margin: auto;
  }
  .copy-right span{
    margin: 10px;
  }
  .copy-right p {
    color: #5C6077;
  }
  
 
  .icons {
    color: #5C6077;
  }
  
  .iconDev {
    margin: 5px;
    align-items: center;
  }
  
  .iconDev span {
    margin: 5px;

    margin-right: 20px;
  }
.social-media {
  display: flex;
  justify-content: space-evenly;
  width:30%;
 
  
}
.img-container img{
    width: 278px;
    height: 188px;
    border-radius: 10px;

}