.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.name__title {
  color: #276678;
  font-weight: bold;
  font-size: 30px;
  font-family: 'cairo';
}
.name-container {
  width: 30%;
}

.name-container p {
  margin-top: 20px;

  text-align: right;
  color: #5c6077;
  font-weight: 400;
  font-size: 17px;
  font-family: 'cairo';
  width: 85%;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.contact-container .contact-title {
  color: #276678;
  text-align: right;
  font-weight: bold;
  font-family: 'cairo';
}

.contact-icons {
  text-align: right;
}

.contact-icons :hover {
  color: #276678;
}

.copy-right-container {
  width: 100%;
  background-color: white;
  display: flex;
}
.copy-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 10px 0;
}

.copy-right p {
  color: #5c6077;
}

.icons {
  color: #5c6077;
}

.iconDev {
  margin: 5px;
  align-items: center;
}

.iconDev span {
  margin: 5px;

  margin-right: 20px;
}
.social-media {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}
.img-container img {
  width: 278px;
  height: 188px;
  border-radius: 10px;
}

.footer_sec_1 {
  margin-bottom: 0;
}
.footer_sec_2 {
  margin: 0;
}

@media (max-width: 900px) {
  .footer-container {
    flex-direction: column;
    padding: 0px;
    align-items: center;
  }
  .img-container img {
    width: 200px;
    height: 90px;
  }
  .contact-container {
    margin: auto;
    align-items: center;
    margin-top: 10px;
  }
  .container-full-width {
    width: 100%;
  }
  .name-container {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .name-container p {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .name__title {
    width: 100%;
  }
}
