.gymprofilecard{
    display: flex;
    flex-direction: row;
    padding-left: 100px;
  padding-right: 100px;
  justify-content: center;
  align-items: top;
}
.leftside{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;;    

}
.phonee, .monthlyPrice, .description, .typeGender, .avalabilty{
    font-weight: bold;
}
.rightside img{
    width: 320px;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

.phonee{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
@media (max-width: 700px) {
    .gymprofilecard {
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
    }
    .gymCard__name{
        font-size: 50px;
    }
    .description{
        width: 400px;
    }
    .topsec{
        width: 400px;
    }
    .leftside{
        width: 100%;
        justify-content: center;
    }
    .rightside img{
        width: 100%;
    

    }
    
}
@media (max-width: 400px) {
    .gymprofilecard {
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
    }
    .gymCard__name{
        font-size: 50px;
    }
    .description{
        width: 300px;
    }
    .topsec{
        width: 300px;
    }
    .leftside{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .rightside img{
        width: 100%;
    

    }
    
}