.btn__dropdown__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  gap: 0.5rem;
}

.btn__dropdown__header img {
  margin: 0 0.5rem;
}
