.container__slider {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  direction: ltr;
}

.container__slider button {
  z-index: 999;
}

.container__slider > div > div > div:not(.rsis-container) {
  z-index: 999;
}

.background {
  background: #ffffff;
  background: linear-gradient(150deg, #4b919248 0%, #86c1c215 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
