.form__update_profile {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
}

.preview_profile_img {
  width: 100%;
  height: 32vh;
  max-height: 32vh;
  object-fit: cover;
  margin-top: 0.5rem;
  border-radius: 8px;
}

@media screen and (min-width: 1800px) {
  .sub__container__dashboard {
    max-width: 1800px;
    margin: 0 auto;
  }
}
