.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.top__rating__gyms {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.top-container .title_top__rating {
  font-size: 30px;
  font-weight: bold;
  color: #276678;
  margin: 0;
  padding: 0;
  margin-bottom: 1.25rem;
  font-family: 'Cairo';
}

a {
  color: #276678;
  font-weight: normal;
}

@media screen and (max-width: 1168px) {
  #gymCard-3 {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  #gymCard-3 {
    display: flex;
  }
}
