.imagetitle{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.gym__images{
    padding-left:100px;
    padding-right: 100px;
}

.fourimage{
    width: 100%;
}

.imgfooter{
  background: #f3f5f8 !important;
} 

@media (max-width: 1000px) {
    .gym__images{
        padding-left:10px;
        padding-right: 10px;
    }
}

@media (max-width: 899px) {
    .imgfooter{
        height: 1620px;
    } 
}
