.review{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
    align-content: center;
    margin: auto;
    border: 1px solid tomato;
}

@media (max-width: 700px) {
    .review {
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .opinion{
      flex-direction: column;
      align-items: space-between;
    }
}
@media (max-width: 400px) {
    .review {
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .opinion{
      flex-direction: column;
      align-content: space-between;
    }
}