.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 17rem;
  margin: 0px;
}

.preview_img{
  width: 500px;
  margin-top: 2rem;
}