.review{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
    align-content: center;
    margin: auto;
}
@media (min-width: 2000px) {
  .review{
      padding-left:200px;
      padding-right: 200px;
  }
}

@media (max-width: 1000px) {
  .review{
      padding-left:10px;
      padding-right: 10px;
  }
}

@media (max-width: 700px) {
    .review {
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .opinion{
      flex-direction: column;
      align-items: space-between;
    }
}
